<div class="container">
	<div class="jumbotron">
		<h1>HemoSonics Viscoelastic Test Results</h1>
		
		<h2>Tracking all viscoelastic testing results from Alpha and onward.</h2>
		<a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
	</div>
</div>